.git
.idea

### Config files ###
docker/nginx/site.conf
docker/wordpress/www.conf
docker/wordpress/ini/memory.ini

docker-compose.yml

### Log ###
!docker/nginx/log/.gitkeep
docker/nginx/log

### Source ###
!src/.gitkeep
src

### MySQL ###
!docker/mysql/data/.gitignore
docker/mysql/data
